<%= form_for @milestone, :as => :milestone, :url => update_statuses_path(@habit.id, @goal.id, @milestone.id), method: :patch do |f| %>
  <%= f.fields_for :statuses, @milestone.statuses.build do |status_builder| %>
    <%= status_builder.label :description %>
    <%= status_builder.text_field :description %>
  <% end %><br>

<h5>Or Select from these!</h5>
  <%= f.collection_select :status_ids, Status.order(:description), :id, :description %><br> <br>

  <%= f.submit "Add Statuses"%>
<% end %>
