<h2>Statuses of the milestone <%= @milestone.description %></h2> <br> <br>

<% if @milestone.statuses.size == 0 %>

  <% if current_user == @habit.user %>
    <h5>You don't have any status update for this milestone! Create one now!</h5><br>
    <%= render 'build_status', milestone: @milestone %>
  <% else %>
    <h5>There is no status update for this milestone yet!</h5>
  <% end %>

<%  elsif @milestone.statuses.size == 1 %>
  <h5>Status: <%=  @milestone.statuses.first.description %></h5> <br>
  <%= render 'delete_status', status: @milestone.statuses.first %> <br><br>
  <%= render 'user' %>

<% else %>
  <h5>Statuses: </h5>
  <% @milestone.statuses.each.with_index(1) do |status, index|%>
    <h5><p><%= index %>. <%= status.description%></p></h5>
    <%= render 'delete_status', status: status %>
  <% end %> <br><br>
  <%= render 'user' %>

<% end %> <br><br>
