<table>
  <thead>
    <tr>
      <th>Comment Description</th>
      <td>         </td>
      <th>Comment On</th>
      <td>         </td>
      <th colspan="3"> </th>
    </tr>
  </thead>

  <tbody>
    <% comments.each.with_index(1) do |comment, index| %>
      <tr>
        <td><%= index %>.  <%= link_to "#{comment.description}", comment %></td>
        <td>         </td>
        <td><%= link_to "#{comment.habit.name}", comment.habit%></td>
        <td>         </td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
