<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% habits.each.with_index(1) do |habit, index| %>
      <tr>
        <td><%= index %>.  <%= link_to habit.name, habit %></td>
        <td><%= link_to 'Show', habit %></td>
        <% if current_user.role_before_type_cast > 1  || current_user == habit.user %>
           <td><%= link_to 'Edit', edit_habit_path(habit) %></td>
           <td><%= link_to 'Destroy', habit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
