<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <% if user.role_before_type_cast < 2 %>
          <td><%= link_to "Upgrade To Admin", { controller: 'users', id: user.id, role: 2, action: "change_role" }, method: :put %></td>
        <% elsif user.role_before_type_cast < 3%>
          <td><%= link_to "Upgrade To Owner", { controller: 'users', id: user.id, role: 3, action: "change_role" }, method: :put %></td>
        <% elsif user.role_before_type_cast == 3  %>
          <td><%= link_to "Downgrade To Admin", { controller: 'users', id: user.id, role: 2, action: "change_role" }, method: :put %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
