<p id="notice"><%= notice %></p>

<h4><%= @user.name.capitalize %>'s Profile</h4>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<% if @user.habits.size > 0 %>
  <h4><%= @user.name.capitalize %>'s Habits:</h4>
  <%= render 'user_habits', habits: @user.habits %>
<% else %>
  <h4>Create a <%= link_to 'habit', new_habit_path %> here!</h4>
<% end %> <br><br>

<% if @user.comments.size > 0 %>
  <h4><%= @user.name.capitalize %>'s Comments:</h4>
  <%= render 'user_comments', comments: @user.comments %>
<% else %>
  <h4>Uncover all of the interesting <%= link_to 'habits', habits_path %> here!</h4>
<% end %> <br><br>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
