<%= form_for @goal, :as => :goal, :url => update_milestones_path(@habit.id, @goal.id), method: :patch do |f| %>
  <%= f.fields_for :milestones, @goal.milestones.build do |milestone_builder| %>
    <%= milestone_builder.label :description %>
    <%= milestone_builder.text_field :description %>
  <% end %><br>

<h5>Or Select from these!</h5>
  <%= f.collection_select :milestone_ids, Milestone.order(:description), :id, :description %><br> <br>

  <%= f.submit "Add Milestones"%>
<% end %>
