<h2>Goal edit form for the ""<%= @goal.name %>""</h2> <br> <br>

<%= render 'layouts/errors', form: @goal %>

<%= form_for habit_goal_path(@habit, @goal) do |f| %>
<!-- <input name="_method" type="hidden" value="patch" /> -->

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :value => "#{@goal.name}" %>
  </div>

  <div class="actions">
    <%= f.submit "Save Goal"%>
  </div>
<% end %>
