<%= form_for edit_habit_goal_path(@goal) do |f| %>
<%= render 'layouts/errors', form: goal %>


  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit "Save Goal"%>
  </div>
<% end %>
