<h2>Goal Name: <%= @goal.name %></h2> <br> <br>
<h4>This goal is for the habit: <%= link_to "#{@habit.name}", habit_path(@habit) %></h4> <br> <br>

<!-- <%= link_to 'Back', :back %> -->

<% if @goal.milestones.size == 0 %>

  <% if current_user == @habit.user %>
    <h5>You don't have any milestone for this goal! Create one now!</h5>
    <%= render 'build_milestone', goal: @goal %>
  <% else %>
    <h5>There are no milestones for this habit yet!</h5>
  <% end %>

<%  elsif @goal.milestones.size == 1 %>
  <h5>Milestone: <%= link_to  @goal.milestones.first.description, habit_goal_milestone_path(@habit, @goal, @goal.milestones.first) %></h5> <br>
  <%= render 'delete_milestone', milestone: @goal.milestones.first %> <br> <br>
  <%= render 'user' %>

<% else %>
  <h5>Milestones: </h5>
  <% @goal.milestones.each.with_index(1) do |milestone, index|%>
    <h5><p><%= link_to "#{index}. #{milestone.description}", habit_goal_milestone_path(@habit, @goal, milestone) %><p></h5>
      <%= render 'delete_milestone', milestone: milestone %>
  <% end %> <br><br>
  <%= render 'user' %>

<% end %> <br><br>



<% if current_user.role_before_type_cast >= 2 || current_user == @habit.user%>
   <%= link_to 'Edit', edit_habit_goal_path(@habit.id, @goal.id) %> |
<% end %>
<%= link_to 'Back', habit_path(@habit) %>
