<h2>Goal Name: <%= @goal.name %></h2> <br> <br>
<h4>This goal is for the habit: <%= link_to "#{@habit.name}", habit_path(@habit) %></h4> <br> <br>

<% if @goal.statuses.size == 0 %>

  <% if current_user == @habit.user %>
    <h5>You don't have any status for this goal! Create one now!</h5>
    <%= render 'build_status', goal: @goal %>
  <% else %>
    <h5>There is no status update for this goal yet!</h5>
  <% end %>

<%  elsif @goal.statuses.size == 1 %>
  <h5>Status: <%= @goal.statuses.first.description %></h5> <br>
  <%= render 'delete_status', status: @goal.statuses.first %> <br> <br>
  <%= render 'user' %>

<% else %>
  <h5>Statuses: </h5>
  <% @goal.statuses.each.with_index(1) do |status, index|%>
    <h5><%=  "#{index}. #{status.description}" %></h5><br>
      <%= render 'delete_status', status: status %>
  <% end %> <br><br>
  <%= render 'user' %>

<% end %> <br><br>



<% if current_user.role_before_type_cast >= 2 || current_user == @habit.user%>
   <%= link_to 'Edit', edit_habit_goal_path(@habit.id, @goal.id) %> |
<% end %>
<%= link_to 'Back', habit_path(@habit) %>
