
<div class="habit-div">
<div class="habitsCount" data-info="<%= Habit.all.length %>"></div>
<div class="firstHabit" data-info="<%= Habit.first.id %>"></div>

<h5><a href="#" class="js-next" data-id="<%=@habit.id%>" data-current-user="<%=current_user.name%>" data-current-user-id="<%=current_user.id%>">Next Habit</a></h5> <br>

<h2 class="habitName">Habit name: <%= @habit.name.capitalize %></h2> <br>

<h5 class="habitDes">Description: <%= @habit.description %></h5><br>

<% if @habit.categories.size == 1 %>
  <h5 class="habitCategory">Category: </h5>
  <div class="categories-list" >
    <h5 class="categoryName"><%= link_to "» #{@habit.categories.first.name}", @habit.categories.first %></h5>
  </div>
<% else %>
  <h5 class="habitCategories">Categories: </h5><br>
  <div class="categories-list" >
  <% @habit.categories.each do |category| %>
    <h5 class="categoryName"><%= link_to "» #{category.name}", category %> </h5> <br>
  <% end %>
  </div>
<% end %> <br> <br>

<h5 class="habitUser">User: <%= link_to @habit.user.name, @habit.user %></h5><br><br>

<div class="viewGoals" >
  <% if @habit.goals.size == 0 %>
    <% if current_user == @habit.user %>
      <div class="goalTitle goals-list">
      <h5 class="buildGoal">There are no goals for this habit yet! Create one.</h5> <br>
    </div>
    <% else %>
    <div class="goalTitle goals-list">
      <h5 class="noGoal">There are no goals for this habit yet!</h5>
    </div>
    <% end %>

  <%  elsif @habit.goals.size == 1 %>
    <div class="goalTitle">
    <h5 class="habitGoal" >Goal: </h5>
    </div>
    <div class="goals-list" >
      <div class="goalDiv-<%= @habit.goals.first.id %>">
        <h5 class="goalName"> <%= link_to "» #{@habit.goals.first.name}", habit_goal_path(@habit.id, @habit.goals.first.id)  %></h5>
        <%= render 'delete_goal', goal: @habit.goals.first %> <br> <br>
      </div>
    </div>

  <% else %>
    <div class="goalTitle">
    <h5 class="habitGoals">Goals: </h5>
    </div>
    <div class="goals-list" >
    <% @habit.goals.each do |goal|%>
      <div class="goalDiv-<%= goal.id %>">
        <h5 class="goalName"><%= link_to "» #{goal.name}",  habit_goal_path(@habit.id, goal.id) %></h5>
        <%= render 'delete_goal', goal: goal %>
      </div>
    <% end %> <br/>
    </div>
  <% end %> <br>

  <br> <br>
  <div class="renderForm">
    <% if @habit.user == current_user %>
      <%= render 'build_goal' %>
    <% end %>
  </div>
</div>

<div class="allComments">
  <% if @habit.comments.size == 0 %>
    <div class="commentHeader">
      <h5 class="commentTitle">There are no comments for this Habit yet! </h5>
    </div>
    <div class="onlyComments" ></div>
  <% elsif @habit.comments.size > 1 %>
    <div class="commentHeader">
      <h5 class="commentTitle"> Comments: </h5>
    </div>
  <% elsif @habit.comments.size == 1 %>
    <div class="commentHeader">
      <h5 class="commentTitle"> Comment: </h5>
    </div>
  <% end %> <br>
    <%= render 'comments/all_comments', comments: @habit.comments if @habit.comments.size > 0 %>
</div>

<div class="renderCommentForm" >
  <% if @habit.user != current_user %>
    <br>

    <h5>Add your comment below! </h5>
    <%= render 'comments/form', comment: @habit.comments.new, habit: @habit%>
  <% end %>
</div>
<br><br>

<% if current_user.role_before_type_cast >= 2 || current_user == @habit.user%>
   <%= link_to 'Edit', edit_habit_path(@habit) %> |
<% end %>
<%= link_to 'Back', habits_path %>
