<h2>Habit name: <%= @habit.name.capitalize %></h2> <br> <br>

<h5>Description: <%= @habit.description %></h5><br><br>
<h5>Category: <%= link_to @habit.category.name, @habit.category %></h5><br><br>
<h5>User: <%= link_to @habit.user.name, @habit.user %></h5><br><br>


<% if @habit.goals.size == 0 %>
  <% if current_user == @habit.user %>
    <%= render 'user' %>
  <% else %>
    <h5>There are no goals for this habit yet!</h5>
  <% end %>

<%  elsif @habit.goals.size == 1 %>
  <h5>Goal: <%= link_to @habit.goals.first.name, habit_goal_path(@habit.id, @habit.goals.first.id)  %></h5> <br>
  <%= render 'delete_goal', goal: @habit.goals.first %> <br> <br>
  <%= render 'user' %>


<% else %>
  <h5>Goals: </h5>
  <% @habit.goals.each.with_index(1) do |goal, index|%>
    <h5><p><%= link_to "#{index}. #{goal.name}",  habit_goal_path(@habit.id, goal.id) %><p></h5>
    <%= render 'delete_goal', goal: goal %>
  <% end %> <br>
  <h4>Create more goals for this habit!</h4>
  <%= render 'user' %>

<% end %> <br><br>

<% if current_user.role_before_type_cast >= 2 || current_user == @habit.user%>
   <%= link_to 'Edit', edit_habit_path(@habit) %> |
<% end %>
<%= link_to 'Back', habits_path %>
