<a href="#" class="js-next" data-id="<%=@habit.id%>">Next Habit</a>

<h2 class="habitName">Habit name: <%= @habit.name.capitalize %></h2> <br> <br>

<h5 class="habitDes">Description: <%= @habit.description %></h5><br><br>

<% if @habit.categories.size == 1 %>
  <h5>Category: <%= link_to @habit.categories.first.name, @habit.categories.first %></h5><br><br>
<% else %>
  <h5>Categories: </h5><br>
  <% @habit.categories.each.with_index(1) do |category, index| %>
    <%= link_to "#{index}. #{category.name}", category %> <br>
  <% end %>
<% end %> <br> <br>

<h5 class="habitUser">User: <%= link_to @habit.user.name, @habit.user %></h5><br><br>


<% if @habit.goals.size == 0 %>
  <% if current_user == @habit.user %>
    <h5>There are no goals for this habit yet! Create one.</h5> <br>
    <%= render 'build_goal' %>
  <% else %>
    <h5>There are no goals for this habit yet!</h5>
  <% end %>

<%  elsif @habit.goals.size == 1 %>
  <h5>Goal: <%= link_to @habit.goals.first.name, habit_goal_path(@habit.id, @habit.goals.first.id)  %></h5>
  <%= render 'delete_goal', goal: @habit.goals.first %> <br> <br>
  <%= render 'user' %>


<% else %>
  <h5>Goals: </h5>
  <% @habit.goals.each.with_index(1) do |goal, index|%>
    <h5><p><%= link_to "#{index}. #{goal.name}",  habit_goal_path(@habit.id, goal.id) %><p></h5>
    <%= render 'delete_goal', goal: goal %>
  <% end %> <br>
  <%= render 'user' %>

<% end %> <br>

<%= render 'comments/all_comments', comments: @habit.comments if @habit.comments.size > 0 %>

<% if @habit.user != current_user %>
  <br>

  <h5>Add your comment below! (You must be signed in) </h5>
  <%= render 'comments/form', comment: @habit.comments.new, habit: @habit%>
<% end %>

<br><br>

<% if current_user.role_before_type_cast >= 2 || current_user == @habit.user%>
   <%= link_to 'Edit', edit_habit_path(@habit) %> |
<% end %>
<%= link_to 'Back', habits_path %>


<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function(element) {
    element.preventDefault();
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    // debugger;
    path = Routes.habit_path(nextId);
    // debugger;
    $.get(path + ".json", function(data) {
      // debugger;
      var hName = "<h2 class='habitName'>Habit name: " + data.name + "</h2> <br> <br>"
      var uPath = Routes.user_path(data.user.id)
      // debugger;
      var uName = "<h5 class='habitUser'>User: <a href='"+ uPath + "'>" + data.user.name + "</a></h5><br><br>"
      var hDes = "<h5 class='habitDes'>Description: " + data.description + "</h5><br><br>"
      $(".habitUser").html(uName);
      $(".habitName").html(hName);
      $(".habitDes").html(hDes);
      // re-set the id to current on the link
      $(".js-next").attr("data-id", data["id"]);
      // debugger;
    });
  });
});
</script>
