<div class="habit-div">
<a href="#" class="js-next" data-id="<%=@habit.id%>">Next Habit</a>

<h2 class="habitName">Habit name: <%= @habit.name.capitalize %></h2> <br>

<h5 class="habitDes">Description: <%= @habit.description %></h5><br>

<% if @habit.categories.size == 1 %>
  <!-- <div class="categories-list" > -->
  <h5 class="habitCategory">Category: </h5>
  <div class="categories-list" >
    <h5 class="categoryName"><%= link_to "» #{@habit.categories.first.name}", @habit.categories.first %></h5>
  </div>
<% else %>
  <h5 class="habitCategories">Categories: </h5><br>
  <div class="categories-list" >
  <% @habit.categories.each do |category| %>
    <h5 class="categoryName"><%= link_to "» #{category.name}", category %> </h5> <br>
  <% end %>
  </div>
<% end %> <br> <br>

<h5 class="habitUser">User: <%= link_to @habit.user.name, @habit.user %></h5><br><br>


<% if @habit.goals.size == 0 %>
  <% if current_user == @habit.user %>
    <div class="goalTitle goals-list">
    <h5 class="buildGoal">There are no goals for this habit yet! Create one.</h5> <br>
  </div>
  <% else %>
  <div class="goalTitle goals-list">
    <h5 class="noGoal">There are no goals for this habit yet!</h5>
  </div>
  <% end %>

<!-- <div class="viewGoals" > -->
<%  elsif @habit.goals.size == 1 %>
  <div class="goalTitle">
  <h5 class="habitGoal" >Goal: </h5>
  </div>
  <div class="goals-list" >
    <h5 class="goalName"> <%= link_to "» #{@habit.goals.first.name}", habit_goal_path(@habit.id, @habit.goals.first.id)  %></h5>
  </div>
  <%= render 'delete_goal', goal: @habit.goals.first %> <br> <br>
  <%= render 'user' %>


<% else %>
  <div class="goalTitle">
  <h5 class="habitGoals">Goals: </h5>
  </div>
  <div class="goals-list" >
  <% @habit.goals.each do |goal|%>
    <h5 class="goalName"><%= link_to "» #{goal.name}",  habit_goal_path(@habit.id, goal.id) %></h5>
    <%= render 'delete_goal', goal: goal %>
  <% end %> <br>
  </div>
  <%= render 'user' %>
<!-- </div> -->
<% end %> <br>
<!-- </div> -->

<br> <br>
<% if @habit.user == current_user %>
  <%= render 'build_goal' %>
<% end %>

<%= render 'comments/all_comments', comments: @habit.comments if @habit.comments.size > 0 %>

<% if @habit.user != current_user %>
  <br>

  <h5>Add your comment below! (You must be signed in) </h5>
  <%= render 'comments/form', comment: @habit.comments.new, habit: @habit%>
<% end %>

<br><br>

<% if current_user.role_before_type_cast >= 2 || current_user == @habit.user%>
   <%= link_to 'Edit', edit_habit_path(@habit) %> |
<% end %>
<%= link_to 'Back', habits_path %>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function(element) {
    element.preventDefault();
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    path = Routes.habit_path(nextId);
    $.get(path + ".json", function(data) {
      var hName = "<h2 class='habitName'>Habit name: " + data.name + "</h2>"
      var hId = data.id
      var uPath = Routes.user_path(data.user.id)
      var uName = "<h5 class='habitUser'>User: <a href='"+ uPath + "'>" + data.user.name + "</a></h5>"
      var hDes = "<h5 class='habitDes'>Description: " + data.description + "</h5>"
      $(".habitUser").html(uName);
      $(".habitName").html(hName);
      $(".habitDes").html(hDes);

      var c = data.categories;
      var categories = $(c)
      $(".habitCategories").text("Categories: ")
      $(".habitCategory").text("Category: ")
      var catNames = []
      categories.each(function( index ) {
        var categoryId = this.id;
        var path = Routes.category_path(categoryId)
        var cName = "<h5 class='categoryName'><a href='"+ path + "'> » " + this.name + "</a></h5>";
        catNames.push(cName);
      });
      $(".categories-list").text("")
      $(".categories-list").append(catNames);
      // $(".categoryName").html(catNames);


      var g = data.goals;
      var goals = $(g)
      var habitGoalsNames = [];
      $(".goalTitle").text("")
      if (goals.length >= 1) {
        if (goals.length === 1) {
        $(".goalTitle").append("<h5 class='habitGoals'>Goal: </h5>")
      } else {
        $(".goalTitle").append("<h5 class='habitGoals'>Goals: </h5>")
      }
        goals.each(function(index ) {
          var goalId = this.id;
          var goalPath = Routes.habit_goal_path(hId, goalId)
          var gName = "<h5 class='goalName'><a href='"+ goalPath + "'> » " + this.name + "</a></h5>";
          habitGoalsNames.push(gName)
        });
        $(".buildGoal").text("")
        $(".noGoal").text("")
        $(".goals-list").text("")
        $(".goals-list").append(habitGoalsNames);
      } else {
        $(".buildGoal").html("<h5 class='buildGoal'>There are no goals for this habit yet! Create one.</h5>")
        $(".noGoal").html("<h5 class='noGoal'>There are no goals for this habit yet!</h5>")
      };

      $(".js-next").attr("data-id", data["id"]);
    });
  });
});
</script>
