<div class="habit-div">
<a href="#" class="js-next" data-id="<%=@habit.id%>">Next Habit</a>

<h2 class="habitName">Habit name: <%= @habit.name.capitalize %></h2> <br>

<h5 class="habitDes">Description: <%= @habit.description %></h5><br>

<% if @habit.categories.size == 1 %>
  <!-- <div class="categories-list" > -->
  <h5 class="habitCategory">Category: </h5>
  <div class="categories-list" >
    <h5 class="categoryName"><%= link_to "» #{@habit.categories.first.name}", @habit.categories.first %></h5>
  </div>
<% else %>
  <h5 class="habitCategories">Categories: </h5><br>
  <div class="categories-list" >
  <% @habit.categories.each do |category| %>
    <h5 class="categoryName"><%= link_to "» #{category.name}", category %> </h5> <br>
  <% end %>
  </div>
<% end %> <br> <br>

<h5 class="habitUser">User: <%= link_to @habit.user.name, @habit.user %></h5><br><br>


<% if @habit.goals.size == 0 %>
  <% if current_user == @habit.user %>
    <div class="goalTitle goals-list">
    <h5 class="buildGoal">There are no goals for this habit yet! Create one.</h5> <br>
  </div>
  <% else %>
  <div class="goalTitle goals-list">
    <h5 class="noGoal">There are no goals for this habit yet!</h5>
  </div>
  <% end %>

<!-- <div class="viewGoals" > -->
<%  elsif @habit.goals.size == 1 %>
  <div class="goalTitle">
  <h5 class="habitGoal" >Goal: </h5>
  </div>
  <div class="goals-list" >
    <h5 class="goalName"> <%= link_to "» #{@habit.goals.first.name}", habit_goal_path(@habit.id, @habit.goals.first.id)  %></h5>
    <%= render 'delete_goal', goal: @habit.goals.first %> <br> <br>
  </div>
  <!-- <%= render 'user' %> -->


<% else %>
  <div class="goalTitle">
  <h5 class="habitGoals">Goals: </h5>
  </div>
  <div class="goals-list" >
  <% @habit.goals.each do |goal|%>
    <h5 class="goalName"><%= link_to "» #{goal.name}",  habit_goal_path(@habit.id, goal.id) %></h5>
    <%= render 'delete_goal', goal: goal %>
  <% end %> <br/>
  </div>
  <!-- <%= render 'user' %> -->
<!-- </div> -->
<% end %> <br>
<!-- </div> -->

<br> <br>
<% if @habit.user == current_user %>
  <%= render 'build_goal' %>
<% end %>

<div class="allComments">
  <%= render 'comments/all_comments', comments: @habit.comments if @habit.comments.size > 0 %>
</div>

<% if @habit.user != current_user %>
  <br>

  <h5>Add your comment below! </h5>
  <%= render 'comments/form', comment: @habit.comments.new, habit: @habit%>
<% end %>

<br><br>

<% if current_user.role_before_type_cast >= 2 || current_user == @habit.user%>
   <%= link_to 'Edit', edit_habit_path(@habit) %> |
<% end %>
<%= link_to 'Back', habits_path %>
